/venv/
.idea/.gitignore
.idea/TestAutomationFramework.iml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/encodings.xml
test.py
/build/
/dist/
/test_automation_framework.egg-info/
